@charset "UTF-8";
.dt-title {
  height: 2rem;
  line-height: 2rem;
  text-align: right;
  padding-right: 0.75rem;
  font-size: 0.7rem; }

.separator {
  height: 0;
  line-height: 0;
  font-size: 0;
  border-bottom: 0.25rem solid #f4f4f4; }

.no-padding {
  padding: 0; }

/*
++++++++++++++++++++++++++++++++++++++++++++++

卡片样式

++++++++++++++++++++++++++++++++++++++++++++++
*/
.card-group {
  border-bottom: 0.25rem solid #f4f4f4; }

.card-caption {
  height: 2.1rem;
  background-color: #04c7ff;
  color: #fff;
  line-height: 2.1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem; }

.card-caption-between {
  justify-content: space-between; }

.card-caption-multi {
  background-color: transparent;
  color: #333;
  font-size: 0.7rem;
  border-bottom: 1px solid #f4f4f4; }

.card-items {
  display: flex;
  justify-content: space-between; }
  .card-items .card-item {
    border-right: 1px solid #f4f4f4;
    text-align: center;
    height: 4.6rem;
    padding-top: 0.9rem; }
    .card-items .card-item .card-item-bd {
      font-size: 0.7rem; }
    .card-items .card-item .card-item-hd {
      font-size: 0.8rem;
      margin-bottom: 0.5rem; }

.list-block {
  min-height: 10.5rem; }
  .list-block .item-link a {
    display: block;
    width: 100%; }

/*
++++++++++++++++++++++++++++++++++

打卡列表页面

++++++++++++++++++++++++++++++++++
*/
.block-item {
  padding: 0.75rem;
  margin-bottom: 0.25rem; }
  .block-item:after {
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    right: 0;
    height: 0.25rem;
    background-color: #f4f4f4;
    content: ""; }

.not-item {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.card-info {
  line-height: 1.3rem; }
  .card-info .card-info-hd {
    font-size: 0.8rem;
    color: #333;
    display: block; }
  .card-info .card-info-bd {
    font-size: 0.7rem;
    color: #666; }
  .card-info .card-info-after {
    color: #999;
    font-size: 0.6rem; }

/*
+++++++++++++++++++++++++++++++++++++++++++++

弹出的 班主任和监护人电话列表

+++++++++++++++++++++++++++++++++++++++++++++
*/
.addr-item {
  display: flex;
  justify-content: space-between;
  padding: 0 0.75rem;
  font-size: 0.7rem;
  color: #333; }
  .addr-item .addr-item-hd-caption {
    font-size: 0.6rem;
    color: #999; }
  .addr-item .icon-me {
    font-size: 1.1rem;
    color: #ccc; }
  .addr-item .icon-phone {
    color: #89d60d;
    border: 0.05rem solid #89d60d;
    border-radius: 50rem;
    padding: 0;
    margin: 0;
    line-height: 1.25rem;
    width: 1.25rem;
    height: 1.25rem; }

/*
+++++++++++++++++++++++++++++++++++++++++++++

特殊人员列表 - 班主任

+++++++++++++++++++++++++++++++++++++++++++++
*/
.special-item-hd {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: #333; }
  .special-item-hd .special-item-hd-addon {
    font-size: 0.7rem; }

.special-item-bd {
  font-size: 0.7rem;
  color: #333;
  height: 1.5rem;
  line-height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.special-item-ft {
  font-size: 0.6rem;
  color: #999; }

.special-item-ft-dark {
  color: #333; }

.special-item-after {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.25rem; }

.special-item-after-dt {
  font-size: 0.6rem;
  color: #999;
  justify-content: flex-start; }

/*
+++++++++++++++++++++++++++++++++++++++++++++

已打卡人员列表 - 班主任

+++++++++++++++++++++++++++++++++++++++++++++
*/
.did-item {
  color: #666;
  font-size: 0.7rem; }

.did-item-hd {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  border-bottom: 0.05rem solid #f4f4f4;
  padding-bottom: 0.5rem; }
  .did-item-hd .did-item-hd-title {
    color: #333; }
  .did-item-hd .did-item-hd-addon {
    font-size: 0.6rem;
    color: #333; }

.did-item-bd {
  align-items: center;
  display: flex;
  justify-content: space-between; }

.did-item-bd-before {
  width: 80%; }

.did-item-b {
  font-size: 0.7rem;
  height: 1.5rem;
  line-height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.did-item-c {
  font-size: 0.6rem;
  color: #999; }

.did-item-bd-after {
  width: 3rem; }

.did-item-bd-after-dorm {
  width: 9rem; }

/*
+++++++++++++++++++++++++++++++++++++++++++++

复核 是否在宿舍页面

+++++++++++++++++++++++++++++++++++++++++++++
*/
.recheck-title {
  font-size: 0.8rem;
  color: #333;
  text-align: center;
  height: 4rem;
  padding-top: 0.75rem;
  background-image: url(../img/recheck-title-bg.png);
  background-size: cover; }

.recheck-content {
  position: relative; }

.recheck-info-list {
  line-height: 1.3rem; }
  .recheck-info-list dt {
    font-size: 0.6rem;
    color: #999; }
  .recheck-info-list dd {
    margin: 0;
    font-size: 0.8rem;
    color: #333;
    margin-bottom: 0.5rem; }

.stamp-container {
  position: absolute;
  right: 0;
  top: 0; }

.stamp {
  background-image: url(../img/stamp.png);
  background-size: cover;
  width: 5.5rem;
  height: 3.65rem;
  display: inline-block; }

.stamp-in {
  background-position: -100% 0%; }

.stamp-out {
  background-position: 0% 0%; }

/*
+++++++++++++++++++++++++++++++++++++++++++++

特殊人员标记， 编辑页面

+++++++++++++++++++++++++++++++++++++++++++++
*/
.list-filter .item-title .item-title-hd {
  font-size: 0.75rem;
  color: #333;
  margin-top: 0.25rem; }

.list-filter .item-title .item-title-bd {
  font-size: 0.7rem;
  color: #666;
  margin: 0.25rem 0; }
